.min-w-75{
    min-width: 75px;
}
.min-w-100{
    min-width: 100px;
}
.min-w-150{
    min-width: 150px;
}
.min-w-200{
    min-width: 200px;
}
.min-w-300{
    min-width: 300px;
}
.sort{
    text-align: center;
}
.min-h-85{
    min-height:85px
}
.min-w-400{
    min-width: 400px;
}

table thead {
    text-align: center;
}
.meilisearch_all_product{
    min-width: 1200px;
}
#myTable thead tr th:first{
    background-color: #232e3c;
}
.fa-bars{
    cursor: move;
}
.form-check-label {
    line-height: 2.45rem;
}

.form-switch .form-check-input {
    padding: 13px;
    width: 60px;
    margin-right: 2px;
}
table.table-bordered.dataTable thead tr:first-child th, table.table-bordered.dataTable thead tr:first-child td{
    text-align: center;
}
.form-check-input[type=checkbox]{
    position: relative;
    top: 4px;
}
.even {background-color: #f9fafd  !important}
.new_input{
    padding: 13px;
    width: 60px;
    margin-right: 2px;
}
.navbar-vertical.navbar-inverted .navbar-collapse{
    background-image: linear-gradient(-45deg, rgba(0, 160, 255, 0.86), #0048a2), url('../img/generic/bg-navbar.png') !important;
}
.navbar-vertical .navbar-vertical-label{
    color: white !important;
}
.ui-widget.ui-widget-content {
    z-index: 10000;
}
.ui-menu .ui-menu-item{
    padding: 10px;
    font-size: 20px;
}
.dataTables_wrapper .data-table.dataTable td, .dataTables_wrapper .data-table.dataTable th {
    white-space: nowrap;
    border: rgb(241 241 241) solid 0.5px;
}
.flex-end{
    justify-content: end;
}
.flex-evenly{
    justify-content: space-evenly;
}
.flex-between{
    justify-content: space-between;
}
.select2-container .select2-selection__choice{
    padding: 8px 17px  !important;
}
.fa-check-circle{
    cursor: pointer;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(11, 11, 11);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  .btn-falcon-success:hover:not(.disabled):not(:disabled), .btn-falcon-success:focus:not(.disabled):not(:disabled){
    margin-left: 10px;
    margin-right: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .dnone{
    visibility: hidden;
  }
  .dblock{
    visibility: show;
  }
.fa-check-circle{
    font-size: 36px;
}
.potiner{
    cursor: pointer;
}
    @media (max-width: 450px)
    {
        .logo_name{
            font-size: 20px;
        }
        #navbarVerticalCollapse{
            margin-top: 30px;
        }
    }
    @media (min-width: 450px)
    {
        .logo_name{
            font-size: auto;
        }
        #navbarVerticalCollapse{
            margin-top: auto;
        }
    }
    .img_container{
        border: solid #00000014 0.5px;
        border-radius: 8px;
        padding: 10px;
        background: aliceblue;
    }
